body {
    font-family: Arial, sans-serif;
    background-color: #F0E68C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: #4682B4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    font-size: 24px;
}

.question {
    margin-bottom: 15px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #FA8072;
}

.result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
